* {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4d04e;
    height: 100vh;
}
.attribution {
    display: none;
}
.card {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    height: clamp(501px, 35vw, 522px);;
    width: clamp(327px, 35vw, 384px);
    padding: 24px 24px 24px 24px;
    border: 1px solid #111111;
    border-radius: 20px;
    box-shadow: 9px 9px  #111111;
    transition: all  0.2s ease-in-out;
}

.card.active {
    box-shadow: none;
    transform: translateY(9px) translateX(9px);
}
.card .img {
    max-height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content h6 {
    font-weight: 600;
    font-size: clamp(12px, 1vw, 14px);
    line-height: 150%;
    letter-spacing: 0px;
    color: #111111;
}
.content h2 {
    font-weight: 900;
    font-size: clamp(20px, 1.3vw, 24px);
    line-height: 150%;
    letter-spacing: 0px;
    color: #111111;
    transition: color 0.2s ease-in-out;
}
.card:hover h2 {
    color: #f4d04e;
}

.content p {
    font-weight: 600;
    font-size: clamp(14px, 1vw, 16px);
    color: #6b6b6b;
    line-height: 150%;
    letter-spacing: 0px;
}

.learning {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4d04e;
    width: clamp(73px, 10vw, 82px);
    height: clamp(26px, 10vw, 29px);
    padding-block: 4px;
    padding-inline: 12px;
    border-radius: 4px;
}

.learning h5 {
    color: #111111;
    font-size: clamp(12px, 1vw, 14px);
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 900;
}

.author {
display: flex;
align-items: center;
gap: 12px;
}

.author  h4{
    font-weight: 900;
    font-size: 14px;
    color: #111111;
    line-height: 150%;
    letter-spacing: 0px;
}
.author img {
    max-width: 32px;
    max-height: 32px;
}

